* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #ffbb00;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
#panel {
    overflow: hidden;
    width: 80%;
    max-width: 1200px; 
    height: 80%;
    background-color: rgb(0, 221, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#top {
    padding: 0 25%; 
    width: 100%;
    height: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card h2 {
    font-weight: 550;
    font-size: 22px;
}

.intry {
    background-color: #328fa6;
    color: #ffbb00;
    font-size: 20px;
    font-weight: 500;
    padding: 7px 17px;
    border-radius: 7px;
}

#bottom {
    padding: 15px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: black;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: red;
    flex-direction: column;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: #328fa6;
    font-weight: 700;
    font-size: 19px;
}

.bubble:hover {
    background-color: #5d5d5d;
    cursor: pointer;
}

.bubble:active { 
    transform: scale(0.8);
}


@media (max-width: 768px) {
    #main h1{
        font-size: 7vw;
    }
    #main h2{
        font-size: 5vw;
    }
    #panel {
        width: 100%; 
        height: 90%; 
    }

    #top {
        flex-direction: row;
        height: auto; 
        padding: 10px;
    }
    .intry {
        padding: 4px 9px;
    }
    .card {
        justify-content: center; 
        margin-bottom: 10px;
    }
    .card h2 {
        font-weight: 550;
        font-size: 18px;
    }
    #bottom {
        padding: 10px;
        font-size: 20px; 
    }
    .bubble {
        width: 40px;
        height: 40px;
        font-weight: 700;
        font-size: 20px;
    }     
}
@media (max-width: 480px) { 
    .bubble { 
        width: 20px; 
        height: 20px; 
        font-size: 12px; 
    } 
    #bottom { 
        padding: 8px; 
        font-size: 20px; 
    } 
}
